.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.login-button div {
    margin-left: 5px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    padding: 10px;
}

.menu-array {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-search {
    border-bottom: 1px solid #000;
    padding: 5px;
    position: absolute;
    right: 20px;
    outline: none;

}

.menu-search input {
    border: none;
    margin-left: 5px;
}

.menu-search input:focus{
    outline: none;
}


.product-card {
    margin-bottom: 30px;
    width: 304px;


}

.product-card img {
    width: 304px;
}

.product-card:hover {
    transform: scale(1.1);

}


.product-choice{
    font-weight:bolder;
    margin-bottom: 5px;
}

.product-choice,.product-new{
    font-size: 11px;
}



.nav-section img {
    width: 85px;
    margin-top: -20px;
    margin-bottom: 25px;
}

.login-button {
    cursor: pointer
}

.product-img{
    display: flex;
    justify-content: flex-end;
}

#dropdown-basic{
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    margin-top: 20px;
}

#dropdown-basic:focus{
    background-color: #000;
    color: white;
    
}

.product-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.product-price{
    font-size: 20px;
    margin-bottom: 10px;
}

.add-but{
    width: 100%;
    margin-top: 20px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: #212529;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add-but:focus{
    box-shadow: 0 0 0 0.25rem rgba(66,70,73,.5);
    outline: 0;
 
}







